body {
	margin: 0px;
	padding: 0px;
	font-family: 'Comfortaa', cursive;
	text-align: center;
}


.header {
	border-bottom: 1px solid #eee;
	padding: 10px 0px;
	width: 100%;
	text-align: center;
}

.header a {
	color: #333;
	text-decoration: none;
}